## -*- coding: utf-8 -*-
<%namespace name="shield" file="shields.tmpl" import="affiliated" />

<%def name="pkg_block(pkg_name, pkg_info)">
    <% url_home = pkg_info['urls']['home'] %>
    <% url_repo = pkg_info['urls']['repo'] %>
    <% image_path = pkg_info['urls']['image'] %>
    <% long_description = pkg_info['description']['long'] %>
    <% keywords = ", ".join(sorted(pkg_info["keywords"])) %>
    <% is_affiliated = pkg_info['affiliated'] %>
    <div class="affiliated-pkg-block">
        <div class="aff-pkg-image-block">
            <a href="${url_home}">
                <span class="feature-card"
                      style="background-image: url('${image_path}')">
                </span>
            </a>
        </div>
        <div class="aff-pkg-info-block">
        <table>
            <tr class="main">
                <td style="text-align: left">
                    <span style="font-size: 1.6em;
                                 font-weight: bold;
                                 margin-right: 8px">
                        ${pkg_name}
                    </span>
                    <!-- add affiliated badge -->
                    % if is_affiliated:
                        <span style="position: absolute;
                                     padding-top: 8px">
                            ${shield.affiliated()}
                        </span>
                    % endif
                </td>
                <td style="text-align: right; vertical-align: center">
                    <a href="${url_home}">home</a>
                    <span> | </span>
                    <a href="${url_repo}">repo</a>
                </td>
            </tr>
            <tr class="description">
                <td colspan="2"
                    style="text-align: left; vertical-align: top">
                    ${long_description}
                </td>
            </tr>
            <tr class="keywords">
                <td colspan="2" style="text-align: left; vertical-align: bottom">
                    <b>Keywords:</b>
                    ${keywords}
                </td>
            </tr>
        </table>
        </div>
    </div>
</%def>

<div class="affiliated-pkg-list">
    <%
          pkg_names = sorted(list(global_data['affiliated_pkgs'].keys()))
          pkg_names.insert(0, pkg_names.pop(pkg_names.index("plasmapy")))
    %>

    % for pkg_name in pkg_names:
        <% pkg_info = global_data['affiliated_pkgs'][pkg_name] %>
        ${self.pkg_block(pkg_name, pkg_info)}
    % endfor
</div>