_site
*.py[cod]
.DS_Store
.doit.db*
.doit.db.db
cache/
output/
id_rsa
id_rsa.pub
.idea
__pycache__
web/.doit.db.bak
web/.doit.db.dat
web/.doit.db.db
web/.doit.db.dir
*~
.idea
*#
#*
*.egg
.venv
venv
ENV
