sudo: false
language: python
python:
- '3.6'
branches:
  only:
  - src
install:
- pip install --requirement requirements.txt
script:
- pushd web/
- nikola build
- popd
- touch web/output/.nojekyll
deploy:
- provider: pages
  skip_cleanup: true
  target_branch: master
  on:
    branch: src
  local_dir: web/output
  github_token: $GITHUB_TOKEN
  fqdn: plasmapy.org
notifications:
  email:
    on_success: change
    on_failure: always
