name: CI

on:
  push:
    branches:
    - src
  pull_request:
  workflow_dispatch:
  schedule:
  - cron: 37 7 * * 1

jobs:
  test-build:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest

    strategy:

      matrix:
        include:

        - name: Build website
          nox_session: build

        - name: Perform Nikola checks
          nox_session: check

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        version: 0.9.23
        python-version: '3.14'
        enable-cache: true

    - name: Run Nox session
      run: uvx nox -s ${{ matrix.nox_session }}
